/* Global styles */
:root {
  --max-width: 1000px;
  --updates-height: 40px;
  --updates-height: calc(1lh + 20px);
}
@media (max-width: 580px) {
  :root {
    --updates-height: 64px;
    --updates-height: calc(2lh + 20px);
  }
}
* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  margin: 0;
}
h1,
h2,
h3 {
  font-family: 'Montserrat', sans-serif;
}
h1:first-child,
h2:first-child {
  margin-top: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: underline;
}
button,
input,
select,
textarea {
  border: none;
  background: none;
  color: inherit;
  font: inherit;
}
button:not(:disabled) {
  cursor: pointer;
}
::placeholder {
  color: inherit;
  opacity: 0.3;
}

/* Header styles */
header {
  position: sticky;
  /* https://stackoverflow.com/a/50887788 */
  top: calc(-1 * var(--updates-height));
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    'updates updates updates'
    'navbar navbar navbar';
  z-index: 10;
  align-items: stretch;
}
/* Emergency updates */
details {
  background-color: gold;
  position: relative;
}
details[open] {
  background-color: yellow;
}
summary {
  cursor: pointer;
  padding: 8px 15px;
  height: var(--updates-height);
  vertical-align: middle;
}
details > p {
  margin: 0;
  padding: 10px 15px;
  padding-top: 0;
  position: absolute;
  left: 0;
  right: 0;
  background-color: yellow;
  z-index: 2;
}
/* Navbar in header */
nav {
  grid-area: navbar;
  position: sticky;
  top: 0;
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
nav ul {
  max-width: var(--max-width);
  display: flex;
  margin: 0 auto;
  list-style: none;
  padding: 0 5px;
}
nav a {
  display: inline-block;
  padding: 10px 15px;
  transition: background-color 0.2s;
}
nav a:hover {
  background-color: rgba(0, 0, 0, 0.05);
  text-decoration: none;
}
nav a:active {
  background-color: rgba(0, 0, 0, 0.1);
}
nav #current {
  font-weight: bold;
}
nav #current:not(:active):hover {
  background-color: transparent;
}

/* Main content styles */
main {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 20px;
}
video {
  border-radius: 0.5cm;
}
::marker {
  color: rgba(0, 0, 0, 0.5);
}
.subtitles {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.subtitles h3 {
  margin: 0;
  font: inherit;
}
h1 {
  margin-bottom: 0;
}
.vote {
  text-transform: uppercase;
  font-size: 0.85em;
  font-weight: bold;
  color: hsl(212, 70%, 51%);
}
img,
video {
  max-width: 100%;
}
main a {
  color: royalblue;
  font-weight: bold;
}
main a:visited {
  color: darkviolet;
}
figure {
  margin: 0;
}

/* Footer styles */
footer {
  background-color: #212121;
  color: white;
  color-scheme: dark;
}
/* Footer links */
footer ul {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 25px;
  margin: 0;
  list-style: none;
  color: rgba(255, 255, 255, 0.7);
  gap: 20px;
}
footer hr {
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  max-width: 100px;
}
/* Sign-up form */
form {
  padding: 20px;
  max-width: var(--max-width);
  min-width: 0;
  margin: 0 auto;
  font-size: 10.5pt;
}
form h2 {
  font-size: 24px;
}
option {
  background-color: black;
}
.required {
  color: #fd8f8f;
}
p.required {
  font-style: italic;
}
form label {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
form input,
form select,
form textarea,
.indicator {
  border-width: 1px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}
form input,
form select {
  padding: 0 10px;
  height: 30px;
}
form textarea {
  padding: 10px;
  resize: vertical;
  min-height: 50px;
  height: 50px;
}
form input:focus,
form select:focus,
form textarea:focus {
  outline: none;
  border-color: white;
}
fieldset {
  border: none;
  padding: 0;
  margin: 0;
}
legend {
  padding: 0;
}
/* Custom checkbox/radio style */
label.check-label {
  flex-direction: row;
  cursor: pointer;
}
input[type='checkbox'],
input[type='radio'] {
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
  border: none;
  padding: 0;
}
.indicator {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  margin-top: 2px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  flex: none;
  border-color: rgba(255, 255, 255, 0.3);
  display: flex;
  position: relative;
}
.indicator.radio,
.indicator.radio::after {
  border-radius: 50%;
}
:checked + .indicator.radio::after {
  content: '';
  background-color: white;
  display: block;
  flex: auto;
  margin: 3px;
}
:checked + .indicator.checkbox::after {
  content: '';
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  position: absolute;
  width: 6px;
  height: 14px;
  left: 6px;
  top: -6px;
  transform: rotate(45deg);
}
:focus ~ .indicator {
  border-color: white;
}
button {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 2ch;
  background-color: gold;
  color: black;
  border-radius: 5px;
  --height: 5px;
  box-shadow: inset 0 calc(-1 * var(--height)) 0 rgba(0, 0, 0, 0.15);
  padding-bottom: var(--height);
  transition: box-shadow 0.2s, padding-bottom 0.2s;
}
button:hover {
  --height: 7px;
}
button:active {
  --height: 2px;
}
